<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- File Appender -->
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="File" value="template.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} [%-5p] (%F:%L) %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.tiny" additivity="false">
		<level value="info" />
		<appender-ref ref="file" />
	</logger>

	<!-- 3rd party Loggers -->
	<logger name="org.springframework.core" additivity="false">
		<level value="info" />
		<appender-ref ref="file" />
	</logger>

	<logger name="org.springframework.beans" additivity="false">
		<level value="info" />
		<appender-ref ref="file" />
	</logger>

	<logger name="org.springframework.context" additivity="false">
		<level value="info" />
		<appender-ref ref="file" />
	</logger>

	<logger name="org.springframework.web" additivity="false">
		<level value="info" />
		<appender-ref ref="file" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>
